/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    color: #4CAF50;
  }
  
  h2, h3 {
    color: #555;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 70%;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  
  strong {
    color: #333;
  }
  
  .hidden {
    display: none;
  }
  
  button {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-top: 20px;
  }
  
  .nav {
    width:fit-content;
    height: 100px;  
    color: #b38f00;
    padding-left: 10px;
    p
  }
  .nav-logo {
    font-family: circular Arial;
    color: #090B17;
    padding-top: 20px;
  }